<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>麒麟送子网</title>

  <!-- Bootstrap -->
  <link href="__ADMIN__css/bootstrap.min.css" rel="stylesheet">
  <link href="__ADMIN__css/main.css" rel="stylesheet">

  <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="main">
    {include file="public/left" /}
    <div class="main-container">
      {include file="public/top" /}
      <div class="container-fluid">
        <div class="tabel-bar">
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="ID/账号/昵称">
            </div>
            <button type="button" id="search" class="btn btn-info">搜索</button>
            <button type="button" id="add" class="btn btn-info" data-toggle="modal" data-target="#addModal">添加</button>
          </form>
        </div>
        <!-- 添加管理员 -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addModalLabel">添加管理员</h4>
              </div>
              <div class="modal-body">
                <form id="addAdminForm" class="form-horizontal">
                  <div class="form-group">
                    <label for="username" class="col-sm-3 control-label">账号</label>
                    <div class="col-sm-8">
                      <input type="text" name="username" class="form-control" id="username" placeholder="账号">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="nickname" class="col-sm-3 control-label">昵称</label>
                    <div class="col-sm-8">
                      <input type="text" name="nickname" class="form-control" id="nickname" placeholder="昵称">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">密码</label>
                    <div class="col-sm-8">
                      <input type="password" name="password" class="form-control" id="password" placeholder="密码">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="repassword" class="col-sm-3 control-label">再次输入密码</label>
                    <div class="col-sm-8">
                      <input type="password" name="repassword" class="form-control" id="repassword" placeholder="再次输入密码">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">状态</label>
                    <div class="col-sm-8">
                      <select class="form-control" name="static">
                        <option value="1" selected>启用</option>
                        <option value="2">禁用</option>
                      </select>
                    </div>
                  </div>
                  <p id="errorMessage" class="text-danger text-center" style="padding-top:10px;"></p>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="addAdmin" class="btn btn-primary">添加</button>
              </div>
            </div>
          </div>
        </div>
        <!-- 修改管理员 -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editModalLabel">修改管理员</h4>
              </div>
              <div class="modal-body">
                <form id="editAdminForm" class="form-horizontal">
                  <input type="hidden" name="id" id="adminId">
                  <div class="form-group">
                    <label for="username02" class="col-sm-3 control-label">账号</label>
                    <div class="col-sm-8">
                      <input type="text" name="username" class="form-control" id="username02" value="admin" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="nickname02" class="col-sm-3 control-label">昵称</label>
                    <div class="col-sm-8">
                      <input type="text" name="nickname" class="form-control" id="nickname02" placeholder="昵称">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password02" class="col-sm-3 control-label">密码</label>
                    <div class="col-sm-8">
                      <input type="password" name="password" class="form-control" id="password02" placeholder="密码如不修改，请不要填写！">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="repassword02" class="col-sm-3 control-label">再次输入密码</label>
                    <div class="col-sm-8">
                      <input type="password" name="repassword" class="form-control" id="repassword02" placeholder="密码入不修改，请不要填写！">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">状态</label>
                    <div class="col-sm-8">
                      <select class="form-control" id="status02" name="status">
                        <option value="1" selected>启用</option>
                        <option value="2">禁用</option>
                      </select>
                    </div>
                  </div>
                  <p id="errorMessage02" class="text-danger text-center" style="padding-top:10px;"></p>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="editAdmin" class="btn btn-primary">修改</button>
              </div>
            </div>
          </div>
        </div>
        <div id="content">
          <div class="table-responsive text-center">
            <table class="table table-bordered table-hover">
              <thead>
                <tr class="active">
                  <th class="text-center">ID</th>
                  <th class="text-center">账号</th>
                  <th class="text-center">昵称</th>
                  <th class="text-center">最后登录IP</th>
                  <th class="text-center">最后登录时间</th>
                  <th class="text-center">登录次数</th>
                  <th class="text-center">状态</th>
                  <th class="text-center" width="210">操作</th>
                </tr>
              </thead>
              <tbody>
                {volist name="adminres" id="admin"}
                <tr>
                  <td>{$admin.id}</td>
                  <td>{$admin.userName}</td>
                  <td>{$admin.nickName}</td>
                  <td>{$admin.lastIP}</td>
                  <td>{$admin.lastTime}</td>
                  <td>{$admin.loginNum}</td>
                  <td>
                    {if condition="($admin.userStatus == 1)"}
                    <p class="text-success">启用</p>
                    {elseif condition="$admin.userStatus == 2"/}
                    <p class="text-danger">禁用</p>
                    {/if}
                  </td>
                  <td>
                    <button type="button" class="edit-admin btn btn-info" data-toggle="modal" data-id="{$admin.id}" data-target="#editModal">修改</button>
                    {if condition="($admin.userStatus == 1)"}
                    <button type="button" class="qijin btn btn-warning" data-id="{$admin.id}" data-status="{$admin.userStatus+1}">禁用</button>
                    {elseif condition="$admin.userStatus == 2"/}
                    <button type="button" class="qijin btn btn-success" data-id="{$admin.id}" data-status="{$admin.userStatus-1}">启用</button>
                    {/if}
                    <button type="button" data-id="{$admin.id}" class="confirm btn btn-danger">删除</button>
                  </td>
                </tr>
                {/volist}
              </tbody>
            </table>
            {$adminres->render()}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myConfirm" tabindex="-1" role="dialog" aria-labelledby="myConfirmLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">确认框</h4>
        </div>
        <div class="modal-body">
          <h3 class="text-center">删除用户将无法恢复，请再次确认</h3>
          <input type="hidden" name="removeId" id="removeId">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" id="removeAdmin" class="btn btn-primary">删除</button>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
  <script src="__ADMIN__js/jquery.min.js"></script>
  <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
  <script src="__ADMIN__js/bootstrap.min.js"></script>
  <script src="__ADMIN__js/main.js"></script>
</body>

</html>
<script>
  $(function() {
    // 询问删除管理员
    $('#content').on('click','.confirm',function(){
      $('#removeId').val($(this).attr('data-id'));
      $('#myConfirm').modal('toggle');
    })
    // 删除管理员
    $('#removeAdmin').bind('click',function(){

      $.ajax({
        url:'/admin/admin/removeadmin',
        type:'POST',
        async:true,
        data:{'removeId':$('#removeId').val()},
        dataType:'json',
        contentType:'application/x-www-form-urlencoded',
        success: function(res){
          let $res = JSON.parse(decodeURIComponent(res));
          if($res['code'] == 0){  // 失败
            tool.aMessage('error', $res['message']);
          }else{  // 成功
            $('#myConfirm').modal('hide');
            tool.aMessage('success', $res['message'], '/admin/admin/index');
          }
        },
        error: function(err){
          console.log(err);
        }
      });
    })
    // 添加管理员
    $('#addAdmin').bind('click', function() {
      let $username = $('#addAdminForm input[name="username"]')[0].value,
          $nickname = $('#addAdminForm input[name="nickname"]')[0].value,
          $password = $('#addAdminForm input[name="password"]')[0].value,
          $repassword = $('#addAdminForm input[name="repassword"]')[0].value;
      if(!$username){
        $('#errorMessage').text('请输入用户名');
      }else if(!nickname){
        $('#errorMessage').text('请输入昵称');
      }else if(!password){
        $('#errorMessage').text('请输入密码');
      }else if($password !== $repassword ){
        $('#errorMessage').text('两次密码输入不一致');
      }else if($username.length < 3 || $username.length > 12){
        $('#errorMessage').text('用户名请填写3-12位');
      }else if($password.length < 6 || $password.length > 18){
        $('#errorMessage').text('密码请设置6-18位');
      }else{
        let postData  = $('#addAdminForm').serialize();
        $.ajax({
          url:'/admin/admin/add',
          type:'POST',
          async:true,
          data:postData,
          dataType:'json',
          contentType:'application/x-www-form-urlencoded',
          success: function(res){
            let $res = JSON.parse(decodeURIComponent(res));

            if($res['code'] == 3){  // 用户名已存在
              $('#errorMessage').text($res['message']);
            }else if($res['code'] == 0){  // 失败
              tool.aMessage('error', $res['message']);
            }else{  // 成功
              $('#addModal').modal('hide');
              tool.aMessage('success', $res['message']);
            }
          },
          error: function(err){
            console.log(err);
          }
        });
      }

    })

    // 查询管理员
    $('#content').on('click','.edit-admin',function(){
      let adminId = $(this).attr('data-id');
      $.ajax({
        url:'/admin/admin/findadmin',
        type:'POST',
        async:true,
        data:{'id':adminId},
        dataType:'json',
        contentType:'application/x-www-form-urlencoded',
        success: function(res){
          let $res = JSON.parse(decodeURIComponent(res));
          $('#adminId').val($res['id']);
          $('#username02').val($res['userName']);
          $('#nickname02').val($res['nickName']);
          if($res['userStatus'] == 1){
            $('#status02').find('option').eq(0).attr('selected',true);
          }else{
            $('#status02').find('option').eq(1).attr('selected',true);
          }
        },
        error: function(err){
          console.log(err);
        }
      });
    })
    // 修改管理员
    $('#editAdmin').bind('click', function() {
      if($('#password02').val() != $('#repassword02').val()){
        $('#errorMessage02').html('两次密码输入不一致');
        return;
      }else if($('#password02').val()){
        if($('#password02').val().length < 6 || $('#password02').val().length > 18){
          $('#errorMessage02').html('密码请设置6-18位');
          return;
        }
      }
      let postData  = $('#editAdminForm').serialize();
      $.ajax({
        url:'/admin/admin/edit',
        type:'POST',
        async:true,
        data:postData,
        dataType:'json',
        contentType:'application/x-www-form-urlencoded',
        success: function(res){
          let $res = JSON.parse(decodeURIComponent(res));
          $('#editModal').modal('hide');
          console.log($res)
          if($res['code'] == 1){
            tool.aMessage('success', $res['message']);
          }else{
            tool.aMessage('error', $res['message']);
          }

        },
        error: function(err){
          console.log(err);
        }
      });
    })
    // 频繁锁
    let isLock = false;
    // 启用/禁用
    $('#content').on('click','.qijin',function(){
      if(isLock){
        alert('操作过于频繁');
        return false;
      }
      $.ajax({
        url:'/admin/admin/changestatus',
        type:'POST',
        async:true,
        data:{'id':$(this).attr('data-id'),'status':$(this).attr('data-status')},
        dataType:'json',
        contentType:'application/x-www-form-urlencoded',
        success: function(res){
          let $res = JSON.parse(decodeURIComponent(res));
          // console.log($res);
          if($res['code'] == 0){  // 失败
            tool.aMessage('error', $res['message']);
          }else{  // 成功
            tool.aMessage('success', $res['message'], 'off');
            $('#content').load(' .table-responsive');
          }
        },
        error: function(err){
          console.log(err);
        }
      });

      isLock = true;
      window.setTimeout(function() {
        isLock = false;
      },2000);
    })
  })
</script>
