<html>
<head>
<title>test</title>
</head>
<body>
<!--     <form id="formId">
    	<div>
    		账号：<input type="text" name="username">
    	</div>
    	<div>
			密码：<input type="password" name="password">
    	</div>
    	<div>
			昵称：<input type="text" name="nickname">
    	</div>
    	<div>
			<select name="static" id="">
				<option value="1" selected="selected">启用</option>
				<option value="0">停用</option>
			</select>
    	</div>
    </form> -->
    <h3>登录</h3>
    <form id="formId">
    	<input type="text" value="12" name="id">
    	<input type="text" value="1" name="userStatus">
    	<div>
    		用户名：<input type="text" value="" name="username">
    	</div>
    	<div>
			密码：<input type="password" name="password">
    	</div>

    	<a id="btn" href="javascript:void(0);">修改</a>
    </form>
    <div id="div1" style="font-size:30px;"></div>
</body>
</html>
<script src="/static/js/jquery.js"></script>
<script>
$('#btn').bind('click',function(){
	var postData = $("#formId").serialize();

    $.ajax({
    	type:"POST",
    	url:"/admin/admin/login",
    	dataType:'json',
        async:true,
        data:postData,
    	success:function(res){
			$("#div1").html(res);
		},
		error:function (XMLHttpRequest, textStatus, errorThrown) {
             console.log('出错啦！')
             console.log(XMLHttpRequest);
             console.log(textStatus);
             console.log(errorThrown);
         }
	});
})
</script>