<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>麒麟送子网</title>

  <!-- Bootstrap -->
  <link href="__ADMIN__css/bootstrap.min.css" rel="stylesheet">
  <link href="__ADMIN__css/main.css" rel="stylesheet">

  <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->

  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <script type="text/javascript" charset="utf-8" src="__ADMIN__ueditor/ueditor.config.js"></script>
  <script type="text/javascript" charset="utf-8" src="__ADMIN__ueditor/ueditor.all.min.js"> </script>
  <script type="text/javascript" charset="utf-8" src="__ADMIN__ueditor/lang/zh-cn/zh-cn.js"></script>

</head>

<body>
  <div class="main">
    {include file="public/left" /}
    <div class="main-container">
      {include file="public/top" /}
      <div class="container-fluid">
        <div id="content">
          <form class="form" id="addArticleForm" enctype="multipart/form-data">
            <div class="form-group">
              <label for="title">所属栏目</label>
              <select class="form-control" name="cateId" id="cateId">
                {volist name="categoryres" id="category"}
                <option value="{$category.id}"><?php echo str_repeat('&nbsp;',$category['level']*4).'|—' ?>{$category.categoryName}</option>
                {/volist}
              </select>
            </div>
            <input type="hidden" name="pid" value="{$Request.param.id}">
            <div class="form-group">
              <label for="title">标题</label>
              <input type="text" value="{$articleres.title}" name="title" class="form-control" id="title" placeholder="标题">
              <div class="text-danger bg-danger" style="display:none; line-height:30px;" id="titleMessage"></div>
            </div>
            <div class="form-group">
              <label for="auther">作者</label>
              <input type="text" value="{$articleres.auther}" name="auther" class="form-control" id="auther" placeholder="作者">
            </div>
            <div class="form-group">
              <label for="keywords">关键词</label>
              <input type="text" value="{$articleres.keywords}" name="keywords" class="form-control" id="keywords" placeholder="关键词">
            </div>
            <div class="form-group">
              <label for="des">描述</label>
              <textarea name="des" class="form-control" id="des" rows="3">{$articleres.des}</textarea>
            </div>
            <div class="form-group" id="thumbBox">
              <label for="thumb">缩略图</label>
              <input name="thumb[]" type="file" id="thumb">
              <p class="text-danger" style="padding-top:10px;" id="thumbText"></p>

              <div id="thumbImg" {if condition="!$imageres.url"}style="display:none;"{/if}>
                <img style="" width="160" height="160" src="{$imageres.url}" alt="">
                <a id="imgId" data-id="{$imageres.id}" href="javascript:void(0)">删除</a>
              </div>

            </div>
          </form>
            <div class="form-group">
              <label for="deitor">文章内容</label>
              <script id="editor" type="text/plain" style="width:100%;height:400px;"></script>
              <div class="text-danger bg-danger" style="display:none; line-height:30px;" id="conMessage"></div>
            </div>
            <button type="button" id="editArticleBtn" class="btn btn-primary">修改</button>
            <br/><br/><br/></br/>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
  <script src="__ADMIN__js/jquery.min.js"></script>
  <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
  <script src="__ADMIN__js/bootstrap.min.js"></script>
  <script src="__ADMIN__js/main.js"></script>
</body>

</html>
<script>
  $(function() {
    $('#cateId').find('option[value={$Request.param.pid}]').attr('selected',true);

    // 图片上传
    $('#thumb').bind('change',function(){
      let animateimg = $("#thumb").val(); //获取上传的图片名 带//
      let imgarr=animateimg.split('\\'); //分割
      let myimg=imgarr[imgarr.length-1]; //去掉 // 获取图片名
      let houzui = myimg.lastIndexOf('.'); //获取 . 出现的位置
      let ext = myimg.substring(houzui, myimg.length).toUpperCase();  //切割 . 获取文件后缀
      let file = $('#thumb').get(0).files[0]; //获取上传的文件
      let fileSize = file.size;           //获取上传的文件大小
      let maxSize = 2097152;              //最大2MB

      if(ext !='.PNG' && ext !='.GIF' && ext !='.JPG' && ext !='.JPEG' && ext !='.BMP'){
        $('#thumbText').html('文件类型错误,请上传图片类型');
        $("#thumb").val('');
        return false;
      }else if(parseInt(fileSize) >= parseInt(maxSize)){
        $('#thumbText').html('上传的文件不能超过2MB');
        $("#thumb").val('');
        return false;
      }else{
        $('#thumbText').html('');
        let formData = new FormData($('#addArticleForm')[0]);
        $.ajax({
          url: "/admin/article/uploadimg",
          type: 'post',
          async: true,
          data: formData,
          // dataType: 'JSON',
          contentType: false,
          processData: false,
        }).done(function(res){
          let $res = JSON.parse(decodeURIComponent(res));
          if($res['code']==1){
            $('#thumbImg').show().find('img').eq(0).attr('src',$res['thumbUrl']);
            $('#imgId').attr('data-id',$res['thumbId']);
            tool.aMessage('success', $res['message'], 'off');
          }
        });
        return false;
      }
    })

    $('#imgId').bind('click',function(){
      // 删除已上传图片
      $.ajax({
        url: '/admin/article/deleteimg',
        type: 'POST',
        async: true,
        data: {'delId':$(this).attr('data-id')},
        dataType: 'json',
        contentType: 'application/x-www-form-urlencoded',
        success: function(res) {
          let $res = JSON.parse(decodeURIComponent(res));
          if ($res['code'] == 1) {
            $('#thumbImg').hide().find('img').eq(0).attr('src','');
            $('#imgId').attr('data-id','');
            tool.aMessage('success', $res['message'], 'off');
          } else {
            tool.aMessage('error', $res['message'], 'off');
          }
        }
      })
    })

    let ue = UE.getEditor('editor');

    ue.ready(function() {
        //默认显示内容
        ue.setContent(`<pre>{$articleres.content}</pre>`);
    });

    function getContent() {
        return UE.getEditor('editor').getContent();
    }


    // 修改文章
    $('#editArticleBtn').bind('click', function() {
      creatArticle('/admin/article/index');
    })

    function creatArticle(reUrl){
      if(!$('#title').val()){
        $('#titleMessage').show().html('请输入标题');
        $(document).scrollTop(0);
        return;
      }else if(!getContent()){
        $('#titleMessage').hide();
        $('#conMessage').show().html('请输入内容');
        return;
      }
      $('#titleMessage').hide();
      $('#conMessage').hide();
      let $cateId = $('#cateId').val(),
          $articleId = {$Request.param.id},
          $title = $('#title').val(),
          $auther = $('#auther').val(),
          $keywords = $('#keywords').val(),
          $des = $('#des').val(),
          $content = getContent();
      let postData = {'cateId':$cateId,'articleId':$articleId,'title':$title,'auther':$auther,'keywords':$keywords,'des':$des,'content':$content};
      $.ajax({
        url: '/admin/article/editarticle',
        type: 'POST',
        async: true,
        data: postData,
        dataType: 'json',
        contentType: 'application/x-www-form-urlencoded',
        success: function(res) {
          console.log(res)
          let $res = JSON.parse(decodeURIComponent(res));
          if ($res['code'] == 1) {
            tool.aMessage('success', $res['message'],reUrl);
          } else {
            tool.aMessage('error', $res['message'], 'off');
          }
        }
      });
    }

  })
</script>
